*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    height: fit-content;
    /* background: salmon; */
    display: flex;
    justify-content:space-evenly;
    gap: 0.3em;

    div{
        height: 12em;
        width: 15%;
    }
    .one{
        background-color: red;
        img{
            height: 100%;
            width: 100%;
        }
        border-radius: 30px;
    }
    .two{
        background-color: orange;
    }
    .three{
        background-color: cadetblue;
    }
    .four{
        background-color: darkgray;
    }
    .five{
        background-color: indigo;
    }
    .six{
        background-color: darkcyan;
    }
}
/* 
header{

    text-align: center;
    background-color:silver ;
} */