@font-face
{
    font-family: 'sofia_pro';
    src: url(./fonts/Sofia\ Pro\ Regular\ Az.otf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family:  sofia_pro, Helvetica, Arial, sans-serif;
    ;
    color: rgb(63, 32, 33);

}


header{
    background-color:rgb(200, 16, 46) ;
    height: 4.9em;
    display: flex;
    justify-content: center;
    width: 100%;


    nav{
        width: 92%;
        /* background-color:green; */
        height: 100%;
        display: flex;
        justify-content: space-between;

        .links{
            /* background-color: aquamarine; */
            height: 100%;
            width: 33%;
            align-items: center;
            display: flex;
            color: white;
            font-size: 18px;
            justify-content: space-between;

            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                }

                a:hover{
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }

        .logo{
            /* background-color:yellow; */
            height: 100%;
            width: 22%;
            display: block;
            display: flex;
            align-items: center;
        }

        .acct{
            /* background-color: blueviolet; */
            height: 100%;
            width: 25%;
            display: flex;
            gap: 1em;
            align-items: center;
            justify-content: center;
  


            .signin{
                color: rgb(200, 16, 46);
                padding:8px 23px 8px 23px;
                border-radius: 18px;
                border: 0;
                font-weight: 600;
            }

            .cart{
                height: 2.5em;
                width: 5em;
                display: flex;
                gap: 5px;
                align-items: center;
                border-radius: 18px;
                border: 0;
                color: white;
                background: none;


                svg{
                    color: white;
                    height: 15px;
                }
                
            }

            
        }
    }
    
}

main{
    /* margin-top: 4.9em; */
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;

    .hero{
        width: 75%;
        height: 35em;
        /* background-color: rosybrown; */
        display: flex;
        align-items: flex-end;

        .hero-txt{
            height: 70%;
            width: 50%;
            /* background-color: royalblue; */
            
            h1{
                    font-size: 56px;
                    margin-top: 50px;
            }
            p{
                font-size: 18px;
                margin-top: 23px;
            }

            button{
                padding: 10px 20px;
                border-radius: 25px;
                border: 0;
                font-weight: 600;
                background-color: rgb(200, 16, 46);
                color: white;
                height: 42px;
                margin-top: 2.5em;
                line-height: 20px;
                font-size: 18px;
                text-align: center;
                
            }
        }

        .hero-img{
            height: 70%;
            width: 50%;
            /* background-color: seagreen; */
            display: flex;
            justify-content: center;
            
        }
        img{
            margin-top: -40px;
            animation: float 6s ease-in-out infinite;
        }
    }

    
}

    .content{
    background-color: rgb(249, 249, 249);
    width: 100%;
    height: fit-content;
    display: block;
    justify-content: center;

    .row-1{
        width: 100%;
        height : 28em;
        display: flex;
        /* margin: 0 auto; */
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;


        .col-1{

            background-color: red;
            margin-right: 8px;
            margin-top: 0.5em;
            


        
        }

        
        .col-2{

            background-color: burlywood;
            margin-left: 8px;
            margin-top: 0.5em;


        }
        
    }

    .row-2{
        width: 100%;
        height : 28em;
        display: flex;
        /* margin: 0 auto; */
        justify-content: center;
        margin-bottom: 1em;

        .col-1{

            background-color: red;
            margin-right: 8px;



        
        }
        .col-2{

            background-color: burlywood;
            margin-left: 8px;


        
        
        }
        
    }

    .row-3{
        width: 100%;
        height : 28em;
        display: flex;
        /* margin: 0 auto; */
        justify-content: center;
        margin-bottom: 1em;

        .col-1{

            background-color: red;
            margin-right: 8px;


        

        
        }
        .col-2{

            background-color: burlywood;
            margin-left: 8px;


        
        
        }
        
    }

    .row-4{
        width: 100%;
        height : 28em;
        display: flex;
        /* margin: 0 auto; */
        justify-content: center;
        margin-bottom: 1em;
        

        .col-1{

            background-color: red;
            margin-right: 8px;


        

        
        }
        .col-2{

            
            margin-left: 8px;

 
        
        
        }
        
    }
}



#tab{
    width: 44%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    

    img{
        width: 100%;
        height: 63%;

    }

    .tab-note{
        height: 37%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
  

        .note{
            width: 70%;
            height: fit-content;
            margin-left: 1em;
            font-size: 12px;

        }



        .button-div{
            margin-left: 30px;
            height: 70%;
            align-content: flex-end;
            
            
            button{
                background-color: rgb(200, 16, 46);
                color: white;
                font-weight: 700;
                font-size: 18px;
                border: none;
                border-bottom: 30px;
                padding: 10px 12px 10px 12px;
                border-radius: 35px;

            }
        }

    }



}

.not{
    margin-top:3em ;
    width: 100%;
    background-color: sandybrown;
    height: fit-content;
    display: flex;
    justify-content: center;

    .sect{
        height: 12em;
        width: 92%;
        background-color: aqua;
        display: flex;
        justify-content: center;


        .not-txt{
            width: 95%;
            height: 100%;
            background-color: sienna;
            vertical-align: center;
            line-height: 2rem;
        
            h2{

            
                margin-top: 1em;
                font-size: 35px;
                font-weight: 50000;
            }

            p{
                font-size: 18px;
                margin-top: 1em;

                a{
                    color: rgb(200, 16, 46);
                    text-decoration:none ;
                }
            }

        }
    }
}

.info{
    height: 3000px;
}

 
